.avatar-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* This creates a circular border */
    overflow: hidden; /* This ensures the image stays within the circular border */
}

.avatar-img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
}
